@font-face {
    font-family: nssans;
    src: url(fonts/nssansregwebfont.woff);
}

@font-face {
    font-family: frutiger;
    src: url(fonts/frutigerlt55.woff);
}

@font-face {
    font-family: nssans;
    src: url(fonts/nssanbolwebfont.woff);
    font-weight: bold;
}

body{
    font-family: 'frutiger', sans-serif;
    background-color: #ffc916;
    max-width: 100%;
    overflow-x: hidden;
    /*position: static;*/
}
h1 h2 h3 h4 h5 h6 p {

    color: #070721 !important;
}
h2{
    color: #070721;
    font-family: 'frutiger', sans-serif;
    }

#realresults{
    color: #070721;
}


.just_start input[type="text"] {
    width: 400px;
    margin-top: 30px;
    padding: 0.5em 0;
    color: #070721;
    border:none;
    border-bottom: 2px solid #FFC917;
    border-radius: 0;
    background: #f0f0f0;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}
.btn-start{
    background: #0063D3;
    color: #fff ;
    border: 1px solid #FFC917;
    padding: 10px;
    margin-top: 70px;
    /*font-weight: bold;*/
    font-family: 'frutiger', sans-serif;
    border-radius: 25px;

    }

button {
    width: 100% !important;
}

.just_start, .started, .intermediate,.rules{
    background-color: #FFC917;
    }

.rules{
    width: 700px;
    position: absolute;
    margin: 0px auto;
    top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 150px;
}

.started, .current_res_c, .current_res_w{
    margin-top: 100px;
}       

#finalresult, .intermediate{
    margin-top:200px;
    font-size: 30px;
    text-align: center;
    color: #070721;
}

#finalresult_show {
    text-align: center;
}

#finalresult_show a{
    margin-top:200px;
    font-size: 17px;
    text-align: center;
    color: #a2a2a2;
    padding: 10px;
}


.choices button{
    background: #ffffff;
    color: #0063D3;
    border: 1px solid #FFC917;
    border-radius: 10px;
    font-size: 17px;
    padding: 10px;
    min-width:200px; 
    max-width: 100%;
    min-height:50px;
    margin-top: 20px;
    }

.choices button:hover {
    box-shadow: none ;
    background: #FFC917 ;
    color: #ffffff ;
    }







.loading-page {
  width: 100%;
  position: relative;
 
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #f60d54;
}
.loading-page .counter h3 {
  color: #070721;
  font-size: 60px;
  position: fixed;
  bottom: 30px;
  left: 0;
 
}
.loading-page .counter hr {
  background: #FFC917;
  border: none;
  height: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.loading-page .counter {
  position: relative;
 
}
.loading-page .counter h3.abs {
  position: fixed;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}
